.button {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  border: 1px solid var(--color-light);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button:hover {
  background-color: var(--color-light);
  transform: translateY(-2px); /* leve elevação */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* sombra sutil mais forte */
}

.button:active {
  transform: translateY(0);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.button__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
}
